* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 70%;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

form button:hover {
    background: #218838;
}

ul {
    list-style: none;
    margin-top: 2rem;
}

li {
    background: #f4f4f4;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: #dc3545;
    border: none;
    color: #fff;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

li button:hover {
    background: #c82333;
}
